@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');
:root{
    /*======== Fonte ========*/
    --fonte: font-family: 'Poppins', sans-serif;

    /*======== Fonte weight ========*/

    --fonte-regular: 400;
    --fonte-medium: 500;
    --fonte-bold: 700;

    /*========= Cores =========*/
    --cor-principal-verde: #03A64A;
    --cor-secundaria-marro-s: #261608;
    --cor-terciaria-branco: #fff;

    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transform: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}
  
html::-webkit-scrollbar-thumb{
    background: var(--cor-principal-verde);
    border-radius: 5rem;
}


section{
    padding: 8rem 7%;
}
.Whatsapp{
    position: fixed;
    width: 272px;
    height: 47px;
    bottom: 40px;
    right: 40px;
    background-color: #03A64A;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

/*main*/
.main{
 background-color: white;
}
.content{
    display: flex;
    flex-wrap: wrap;
}

.box{
    margin-top: 100px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.box h1{
    font-size: 30px;
}
.box p{
    font-size: 18px;
}
button{
    width: 150px;
    height: 30px;
    border-radius: 30rem;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
button a{
    color: #000;
    font-weight: 700;
}
.content img{
    width: 50%;
    height: 50%;
}
/*footer*/
.footer{
    background: #0d0d0dd3 ;
    background-size: cover;
    padding: 3rem 7%;
}
 
  
.footer .credit{
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    padding-top: 2.5rem;
    color: var(--cor-terciaria-branco);
    border-top: .2rem solid rgba(0, 0, 0, 0.2);
}
  
.footer .credit .link{
    color: var(--cor-principal-verde);
}

.btn{
        font-size: 1.7rem;
        display: inline-block;
        background: var(--cor-principal-verde);
        color: var(--cor-terciaria-branco);
        box-shadow: var(--box-shadow);
        border-radius: 5rem;
        padding: 0.9rem 3rem;
        margin-top: 1rem;
        z-index: 0;
        position: relative;
        overflow: hidden;
}


@media screen and (max-width: 768px){
    #menu-btn{
        display: inline-block;
    }

    html{
        font-size: 50%;
    }

    .Whatsapp{
        position: fixed;
        width: 139px;
        height: 25px;
        font-size: 15px;
    }

   
}